body {
	margin: 0 auto;
}

h2 {
	color: #ff9400;
}

.content {
	margin-left: 40px;
}

.date {
	color: #828282;
	margin-top: 27px;
}

.page-title {
	/*background-color: #ff9400*/;
	margin-top: 0;
	padding: 20px 20px 20px 40px;
	text-transform: capitalize;
	font-family: "freight-text-pro";
	font-style: italic;
	text-shadow: 1px 2px #828282;
}

.post {
	margin-bottom: 70px;
}

hr {
	margin: 20px 0px;
	border: 0;
	border-top: 1px dashed #828282;
}