{% load static %}
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
		<meta name="description" content="Informative Blogs">
		<title>Blogs Web App</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-theme.min.css' %}">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext">
		<link rel="stylesheet" type="text/css" href="{% static 'css/blogs.css' %}">
	</head>

	<body>
		<div class="container-fluid title-icons">
			<div>
				<div class="row">
					<div class="page-title col-md-12 col-sm-12">
						{% block page-title %}
						{% endblock %}
					</div>
					<div class="iconic-menu col-md-12 col-sm-12">
						{% block iconic-pages %}
						{% endblock %}
					</div>
				</div>
			</div>
		</div>

		{% block edit %}
		{% endblock %}

		<div class="container-fluid content-margin-top">
			<div class="row">
				<div class="col-md-9 col-sm-12">
				{% block content %}
				{% endblock %}
				</div>
			</div>
		</div>

		<div>
			<footer>
				<p>All contents are copyright protected &copy;</p>
			</footer>
		</div>

		<script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	</body>
</html>